<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>
    <components>
      <component id="IFoo" service="CastleIOCTest2.IFoo, CastleIOCTest2" type="CastleIOCTest2.FooService, CastleIOCTest2">
        <parameters>
          <fooString>[abc:$]</fooString>
        </parameters>
      </component>
      <component id="IBar" service="CastleIOCTest2.IBar, CastleIOCTest2" type="CastleIOCTest2.BarService, CastleIOCTest2">
      </component>
      <component id="ApplicationRunner ">
      </component>
    </components>
  </castle>
</configuration>